.logout-popup-animation{
    animation: logout-smooth-display .1s ease-in normal forwards;
    transform-origin: top;
}

@keyframes logout-smooth-display {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(.6rem);
    }
}