.fold{
    animation: fold .4s ease-in-out 0s normal forwards;
}
.unfold{
    animation: unfold .4s ease-in-out 0s normal forwards;
}

@keyframes fold {
    0%{
        height: 9rem;
    }
    100%{
        height: 2rem;
    }
}
@keyframes unfold {
    0%{
        height: 1rem;
    }

    100%{
        height: 9rem;
    }
}